language: node_js
node_js: 12
cache: yarn
after_success: yarn coverage
script:
- yarn test
- yarn build
deploy:
  provider: script
  skip_cleanup: true
  script:
    - npx semantic-release
  on:
    branch: master
before_deploy: sed -i 's/dist//g' .gitignore
